bwtemplate__mail__smtp__host=smtp.example.com
bwtemplate__mail__smtp__port=587
bwtemplate__mail__smtp__username=SMTP_username
bwtemplate__mail__smtp__password=SMTP_password
bwtemplate__from=IT Dept <it@example.com>
bwtemplate__subject_invitation=[IT Dept] Invitation: Bitwarden Password Manager
bwtemplate__subject_welcome=[IT Dept] Welcome: Bitwarden Password Manager
